 #img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 15%;
      margin: auto;
  }

  #button {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29
  }

#card {
    margin: auto;
    height: 40%;
}

.card-body {
      display: flex;
      flex-direction: column;
  }
  
  .Amazon { grid-area: Amazon; }
  