.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Amazon Amazon Amazon"
      ". . ."
      ". . .";
  }
  #img {
      position: center;
      flex-wrap: ;
      width: 10%;
      height: 5%;
  }

  .card-body {
      position: center;
  }
  
  .Amazon { grid-area: Amazon; }
  